body {
  min-height: 100%;
}

.App {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

.App h2 {
  margin: 25vh 0 0;
  text-align: center;
  font-size: 45px;
}

.App a {
  color: inherit;
  text-decoration: none;
}

.nav-main {
  color: #2c2c2c;
  padding-top: 2vh;
}

.nav-main .logo {
  position: absolute;
  left: 30px;
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 16px;
}

.nav-main .logo div {
  border: 1px solid black;
  padding: 8px 7px 5px 8px;
}

.nav-main .logo div p {
  margin: 0;
}

.nav-main .logo div hr {
  margin: 1px 0 7px;
  height: 1px;
}

.nav-main .logo .letter-spacing {
  letter-spacing: 0.3em;
}

.nav-main .logo .caps {
  font-size: 20px;
}

.nav-main .logo hr {
  border: none;
  height: 2px;
  background-color: #2c2c2c;
  margin: 4px 0;
}

.nav-main a li {
  font-size: 20px;
}

.nav-main a li hr {
  width: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms linear, width 1ms linear 400ms;
  transition: opacity 400ms linear, width 1ms linear 400ms;
  background-color: #2c2c2c;
  height: 2px;
  border-radius: 2px;
  margin: 2px auto 0;
}

.nav-main a li:hover hr {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 100ms linear, width 300ms ease-in-out;
  transition: opacity 100ms linear, width 300ms ease-in-out;
}

.index {
  color: white;
  text-align: center;
  height: 100vh;
  width: 90%;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  -webkit-transition: background-image 1s linear;
  transition: background-image 1s linear;
}

.index .nav-main {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.384)), to(rgba(110, 110, 110, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.384), rgba(110, 110, 110, 0));
}

.index .nav-main .logo {
  display: none;
}

.index .nav-main nav a li div {
  background-color: white;
}

.index .nav-main hr {
  background-color: white;
}

.index header {
  position: relative;
  z-index: 2;
}

.index header h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 60px;
  margin: 0;
  font-weight: 200;
}

.index header h1 .letter-spacing {
  letter-spacing: 0.5em;
}

.index header h1 .caps {
  font-size: 80px;
}

.index header hr {
  border: none;
  height: 0.5px;
  background-color: white;
}

.background0 {
  background-image: url("./IMG/Slideshow/Portraits - Hannah-29 SMALLER.jpg");
}

.background1 {
  background-image: url("./IMG/Slideshow/Portraits - KatyLyonsLeach-80 SMALLER.jpg");
}

.background2 {
  background-image: url("./IMG/Slideshow/Portraits - KrisaShine-148 SMALLER.jpg");
}

.background3 {
  background-image: url("./IMG/Slideshow/Simon Cockle-102 (SMALLER).jpg");
}

.background4 {
  background-image: url("./IMG/Slideshow/Weddings - Ali and Negin_037 SMALLER.jpg");
}

.background5 {
  background-image: url("./IMG/Slideshow/Weddings - Ali and Negin_093 SMALLER.jpg");
}

.background6 {
  background-image: url("./IMG/Slideshow/Weddings - Elnaz and Benham_122 (FIXED) SMALLER.jpg");
}

.portfolio {
  margin: auto;
  max-width: 1250px;
  padding-bottom: 10%;
}

.portfolio nav a:nth-of-type(1) li hr {
  width: 100%;
  opacity: 1;
  background-color: #fc0000;
}

.portfolio .bigImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  z-index: 1;
  margin: 4vh 2%;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  width: 96%;
  height: 92vh;
}

.portfolio .bigImage img {
  max-height: 100%;
  max-width: 100%;
  border: 4px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio .bigImage .close-pic1 {
  position: fixed;
  top: 80px;
  right: 5%;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 0 8px 14px;
}

.portfolio .bigImage .close-pic1 hr {
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #acacac;
  width: 40px;
  border: none;
  height: 8px;
  border-radius: 10px;
}

.portfolio .bigImage .close-pic1 hr:nth-of-type(1) {
  -webkit-transform: translateY(16px) rotate(45deg);
          transform: translateY(16px) rotate(45deg);
}

.portfolio .bigImage .close-pic1 hr:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio .bigImage .close-pic1:hover {
  cursor: pointer;
  border: 2px solid #dfdfdf;
}

.portfolio .bigImage .close-pic1:hover hr {
  background-color: #dfdfdf;
}

.portfolio .bigImage .arrow {
  position: fixed;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 8px 12px;
}

.portfolio .bigImage .arrow hr {
  height: 8px;
  border-radius: 10px;
  width: 30px;
  background-color: #acacac;
  border: none;
}

.portfolio .bigImage .arrow:hover {
  cursor: pointer;
  border: 2px solid #dfdfdf;
}

.portfolio .bigImage .arrow:hover hr {
  background-color: #dfdfdf;
}

.portfolio .bigImage .left {
  left: 5%;
}

.portfolio .bigImage .left .bottom {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio .bigImage .left .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio .bigImage .right {
  right: 5%;
}

.portfolio .bigImage .right .bottom {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.portfolio .bigImage .right .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio .photo-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.portfolio .photo-grid img {
  -ms-flex-negative: 3;
      flex-shrink: 3;
  cursor: pointer;
  width: 260px;
  height: 260px;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.portfolio .photo-grid img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.contact {
  margin-bottom: 200px;
}

.contact nav a:nth-of-type(3) li hr {
  width: 100%;
  opacity: 1;
  background-color: #fc0000;
}

.contact .subtitle {
  text-align: center;
  margin: 30px 0;
  font-size: 18px;
  padding: 0 20px;
  line-height: 30px;
}

.contact .subtitle a {
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

.contact .subtitle a:hover {
  color: red;
}

.contact svg {
  width: 50px;
  height: 40px;
  -webkit-transform: translateY(10px) rotate(90deg);
          transform: translateY(10px) rotate(90deg);
  stroke: red;
  fill: red;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

.contact .container {
  max-width: 1250px;
  margin: auto;
  margin-top: 5px;
}

.contact .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .container form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact .container form .grid-item {
  font-size: 26px;
  color: white;
  text-shadow: 0 0 3px black;
  background-color: #747474;
  margin: 5px 10px;
  width: 540px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.contact .container form .grid-item h3 {
  margin: 0 0 40px;
}

.contact .container form .grid-item p {
  margin: 0 0 16px;
}

.contact .container form .grid-item input {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .container form .grid-item textarea {
  width: 100%;
  height: 181px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .container form button {
  width: 260px;
  margin: 10px;
  color: white;
  text-shadow: 0 0 3px black;
  font-size: 40px;
  background-color: #747474;
  border: 1px solid black;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.contact .container form button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.contact .container form .feedback {
  text-align: center;
  color: #e70000;
  font-size: 20px;
  font-weight: bold;
  height: 75px;
}

.about {
  max-width: 1080px;
  margin: auto;
}

.about nav a:nth-of-type(2) li hr {
  width: 100%;
  opacity: 1;
  background-color: #fc0000;
}

.about .about-text {
  padding: 0 20px;
}

@media only screen and (max-width: 900px) {
  .nav-main {
    color: #2c2c2c;
    text-align: center;
  }
  .nav-main .logo {
    top: 20px;
  }
  .nav-main nav {
    padding-left: 0;
    background-color: lightgray;
    color: #2c2c2c;
  }
  .nav-main nav a {
    border-color: #2c2c2c;
  }
  .nav-main nav a li {
    font-size: 24px;
  }
  .nav-main nav a li:hover hr {
    opacity: 0;
  }
  .nav-main .burger div {
    background-color: black;
  }
  .index header h1 {
    font-size: 40px;
  }
  .index header h1 .caps {
    font-size: 60px;
  }
  .index .nav-main .burger div {
    background-color: white;
  }
  .portfolio nav a:nth-of-type(1) li {
    color: #ebebe4;
  }
  .portfolio nav a:nth-of-type(1) li hr {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .index header h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .index header h1 .caps {
    font-size: 32px;
  }
  .portfolio .photo-grid img {
    height: 160px;
    width: 160px;
  }
  .contact .container {
    width: 90vw;
  }
  .contact .container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
  }
  .contact .container form div {
    width: 100%;
  }
  .contact .container form .grid-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@-webkit-keyframes bounce {
  0%,
  4%,
  10%,
  16%,
  20%,
  100% {
    -webkit-transform: translateY(10px) rotate(90deg);
            transform: translateY(10px) rotate(90deg);
  }
  8% {
    -webkit-transform: translateY(-30px) rotate(90deg);
            transform: translateY(-30px) rotate(90deg);
  }
  12% {
    -webkit-transform: translateY(-15px) rotate(90deg);
            transform: translateY(-15px) rotate(90deg);
  }
}

@keyframes bounce {
  0%,
  4%,
  10%,
  16%,
  20%,
  100% {
    -webkit-transform: translateY(10px) rotate(90deg);
            transform: translateY(10px) rotate(90deg);
  }
  8% {
    -webkit-transform: translateY(-30px) rotate(90deg);
            transform: translateY(-30px) rotate(90deg);
  }
  12% {
    -webkit-transform: translateY(-15px) rotate(90deg);
            transform: translateY(-15px) rotate(90deg);
  }
}
/*# sourceMappingURL=App.css.map */