body {
   min-height: 100%;
}
.App {
   margin: 0;
   min-height: 100%;
   min-width: 100%;

   a {
      color: inherit;
      text-decoration: none;
   }
}

.nav {
   position: absolute;
   top: 5%;
   width: 100%;
   display: flex;
   flex-flow: row nowrap;
   list-style-type: none;
   color: white;
   justify-content: center;
   li {
      font-size: 20px;
      margin: 0 20px;
      transition: transform 30ms;
      cursor: pointer;

      hr {
         width: 0;
         opacity: 0;
         transition: opacity 400ms linear, width 1ms linear 400ms;
         background-color: white;
         height: 3px;
         border: none;
         border-radius: 2px;
      }
   }
   li:hover {
      hr {
         opacity: 1;
         width: 100%;
         transition: opacity 100ms linear, width 300ms ease-in-out;
      }
   }

   .animate {
      transform: scale(0.85);
   }
}

.index {
   color: white;
   text-align: center;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-position: center;
   background-size: cover;
   transition: background-image 1s;

   h1 {
      font-size: 80px;
      margin: 0;
   }
   h2 {
      margin: 0;
   }
   header {
      position: relative;
      z-index: 2;

      img {
         position: absolute;
         height: 40vh;
         top: 0;
         opacity: 0;
         z-index: -1;
         right: 20%;
         transition: all 1000ms, opacity 400ms;
      }

      .showRicky {
         transition: all 1000ms;
         opacity: 1;
         top: -30vh;
      }
   }
}

.background0 {
   background-image: url('./IMG/landscapes/Beach\ Sunset.jpg');
}

.background1 {
   background-image: url('./IMG/landscapes/IMG_9469\ \(2\).JPG');
}

.background2 {
   background-image: url('./IMG/landscapes/IMG_9698\ Diff\ NEW.jpg');
}

.background3 {
   background-image: url('./IMG/landscapes/Mt\ Burdell\ Sunset.JPG');
}

.background4 {
   background-image: url('./IMG/landscapes/IMG_9531\ Diff.jpg');
}

.background5 {
   background-image: url('./IMG/landscapes/Spring\ Blossoms\ 2.jpg');
}

.portfolio {
   h1 {
      text-align: center;
   }
   h2 {
      text-align: center;
      margin: 60px 0 20px;
   }
   .photo-grid {
      margin: 20px 10% 100px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      img {
         width: 260px;
         height: 260px;
         margin: 10px;
         object-fit: cover;
         transition: all 200ms;
      }
      img:hover {
         filter: grayscale(1);
         // transform: scale(1.02);
      }
   }
}
