.about {
   max-width: 1080px;
   margin: auto;
   margin-bottom: 200px;

   h2 {
      margin-bottom: 20px;
   }

   nav {
      a:nth-of-type(2) li hr {
         width: 100%;
         opacity: 1;
         background-color: rgb(252, 0, 0);
      }
   }

   .text {
      font-size: 20px;
      font-weight: 400;
      font-family: 'Shippori Mincho', serif;
      text-align: left;
      line-height: 1.9em;
      padding: 0 20px;
      margin: 0;
   }

   .text-spacing {
      padding-top: 40px;
   }

   .flex {
      display: flex;
      flex-flow: row nowrap;
      padding: 40px 0;
   }

   .flex1 {
      img {
         width: 30%;
         padding-left: 20px;
      }
   }

   .flex2 {
      img {
         width: 35%;
         transform: scaleX(-1);
         padding-left: 20px; //swapped because of transform above
      }
      p {
         &:nth-of-type(1) {
            padding-bottom: 40px;
         }
      }
   }

   .flex3 {
      img {
         width: 40%;
         padding-left: 20px;
      }

      div {
         flex: 0 0 60%;
      }
   }

   img {
      align-self: flex-start;
      box-sizing: border-box;
   }
}

@media only screen and (max-width: 700px) {
   .about {
      .flex1 {
         flex-direction: column;
         img {
            width: 100%;
            padding-right: 20px;
         }
         p {
            padding-top: 40px;
         }
      }

      .flex2 {
         img {
            display: none;
         }
      }

      .flex3 {
         flex-direction: column;
         img {
            order: 3;
            width: 100%;
            padding-top: 40px;
            padding-right: 20px;
         }
         div {
            flex: 0 0 100%;
         }
      }
   }
}
