body {
  min-height: 100%;
}

.App {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

.App a {
  color: inherit;
  text-decoration: none;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style-type: none;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.384)), to(rgba(110, 110, 110, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.384), rgba(110, 110, 110, 0));
  padding-top: 3%;
}

.nav li {
  font-size: 20px;
  margin: 0 20px;
  -webkit-transition: -webkit-transform 30ms;
  transition: -webkit-transform 30ms;
  transition: transform 30ms;
  transition: transform 30ms, -webkit-transform 30ms;
  cursor: pointer;
}

.nav li hr {
  width: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms linear, width 1ms linear 400ms;
  transition: opacity 400ms linear, width 1ms linear 400ms;
  background-color: white;
  height: 3px;
  border: none;
  border-radius: 2px;
}

.nav li:hover hr {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 100ms linear, width 300ms ease-in-out;
  transition: opacity 100ms linear, width 300ms ease-in-out;
}

.nav .animate {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.index {
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  -webkit-transition: background-image 1s linear;
  transition: background-image 1s linear;
}

.index h1 {
  font-size: 80px;
  margin: 0;
}

.index h2 {
  margin: 0;
}

.index header {
  position: relative;
  z-index: 2;
}

.index header img {
  position: absolute;
  height: 40vh;
  top: 0;
  opacity: 0;
  z-index: -1;
  right: 20%;
  -webkit-transition: all 1000ms, opacity 400ms;
  transition: all 1000ms, opacity 400ms;
}

.index header .showRicky {
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  opacity: 1;
  top: -30vh;
}

.background0 {
  background-image: url("./IMG/landscapes/Beach Sunset.jpg");
}

.background1 {
  background-image: url("./IMG/landscapes/IMG_9469 (2).JPG");
}

.background2 {
  background-image: url("./IMG/landscapes/IMG_9698 Diff NEW.jpg");
}

.background3 {
  background-image: url("./IMG/landscapes/Mt Burdell (Diff Aspect).jpg");
}

.background4 {
  background-image: url("./IMG/landscapes/IMG_9531 Diff.jpg");
}

.background5 {
  background-image: url("./IMG/landscapes/Spring Blossoms 2.jpg");
}

.portfolio {
  margin: 0;
  padding-bottom: 10%;
}

.portfolio .bigImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  z-index: 1;
  margin: 4vh 2%;
  left: 0;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  width: 96%;
  height: 92vh;
}

.portfolio .bigImage img {
  max-width: 100%;
  max-height: 100%;
  border: 4px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio .bigImage .arrow {
  position: fixed;
  margin: 0 40px;
  border-radius: 4px;
  border: 2px solid transparent;
  padding: 8px 12px;
}

.portfolio .bigImage .arrow hr {
  height: 8px;
  border-radius: 10px;
  width: 30px;
  background-color: #acacac;
  border: none;
}

.portfolio .bigImage .arrow:hover {
  border: 2px solid #dfdfdf;
}

.portfolio .bigImage .arrow:hover hr {
  background-color: #dfdfdf;
}

.portfolio .bigImage .left {
  left: 5%;
}

.portfolio .bigImage .left .bottom {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio .bigImage .left .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portfolio .bigImage .right {
  right: 5%;
}

.portfolio .bigImage .right .bottom {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.portfolio .bigImage .right .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.portfolio h1 {
  margin-top: 0;
  padding-top: 8%;
  padding-bottom: 6%;
  text-align: center;
  font-size: 60px;
}

.portfolio h2 {
  text-align: center;
  margin: 60px 0 20px;
}

.portfolio .photo-grid {
  margin: 20px 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .photo-grid img {
  cursor: pointer;
  width: 260px;
  height: 260px;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.portfolio .photo-grid img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
/*# sourceMappingURL=App.css.map */